# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other project stuff
*.user
*.suo
*.sdf
*.opensdf
*.vcxproj
*.filters
*.sln
*.db
*.opendb
usersettings.cfg

# folders
Debug/
Release/
EasyGraphix/
CMakeFiles/
bin/
lib/

# cmake
CMakeCache.txt
*.cmake
Makefile

# apple
.DS_Store

# Samples
JSStandAlone/JSStandAlone
samples/Animations/AnimationsSample
samples/Components/ComponentsSample
samples/Crypto/CryptoSample
samples/Cursor/CursorSample
samples/CustomMesh/CustomMeshSample
samples/Dungeon/DungeonSample
samples/Empty/EmptySample
samples/Effects/EffectsSample
samples/Entities/EntitiesSample
samples/GamePads/GamePadsSample
samples/Http/HttpSample
samples/Multiplayer/MultiplayerSample
samples/Navigation/NavigationSample
samples/Particles/ParticlesSample
samples/Primitives/PrimitivesSample
samples/Random/RandomSample
samples/Shader/ShaderSample
samples/Sounds/SoundsSample
samples/SpriteFrames/SpriteFramesSample
samples/Sprites/SpritesSample
samples/Text/TextSample
samples/Textures/TexturesSample
samples/TiledMap/TiledMapSample
samples/UI/UISample

# hunter
_3rdParty/
