# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other project stuff
*.user
*.suo
*.sdf
*.opensdf
*.vcxproj
*.filters
*.sln
*.db
*.opendb
usersettings.cfg

# folders
Debug/
Release/
EasyGraphix/
CMakeFiles/
bin/
lib/

# cmake
CMakeCache.txt
*.cmake
Makefile

# apple
.DS_Store
